@import "tailwindcss";


body{

margin:0;

background:#050505;

color:white;

font-family:
'Inter',
sans-serif;

}
::-webkit-scrollbar{

width:6px;

}


::-webkit-scrollbar-thumb{

background:white;

border-radius:20px;

}